@import "./styles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cart-container .cart-box {
  margin: 2rem auto;
  width: 90%;
  border: 1px solid rgba(49, 49, 52, 0.542);
  padding: 1.4rem;
  flex-wrap: wrap;
  position: relative;
  border-radius: 5px;
}
.cart-container .cart-box .number-of .increase {
  width: 20px;
  height: 25px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: var(--third-main-color);
  color: var(--second-text-color);
}
.cart-container .cart-box .number-of .increase:active{
    background-color:#e2b9c3 ;
}
.cart-container .cart-box .number-of .decrease {
  width: 20px;
  height: 25px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: var(--third-main-color);
  color: var(--second-text-color);
}
.cart-container .cart-box .number-of .decrease:active{
    background-color:#e2b9c3 ;
}
.cart-container .cart-box .number-of .number {
  padding: 0 5px;
}
.cart-container .cart-box .remove {
  border: 1px solid red;
  background: transparent;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  font-size: 10px;
  position: absolute;
  left: 0;
  margin-left: 5px;
  transform: translateY(-80%);
}
.total-container{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--second-main-color);
    padding: 13px;
    border-radius: 10px;
}
.total-container .final{
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
}